<div class="menu">
  <ul>
    <li><%= link_to 'Personas', personas_path %></li>
    <li><%= link_to 'Eventos', eventos_path %></li>
  </ul>

  <div class="salir">
    <%= link_to 'Salir', sesion_path, method: :delete %>
  </div>
</div>
